body{
    font-family: Arial;
    background-color: #e6ebf1;
}

.painel{
    width: 300px;                       /*largura*/   
    margin: auto;                       /*margem automatica */
    box-shadow: 2px 2px 15px black;   /*sombra*/
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    background-color: white;
}

h1{
    margin: 0;
    color: #005594;
    overflow: hidden;
}

textarea {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
}

.enviar{
    background-color: #005594;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.enviar:hover{
    background-color: #0091ff;
    transition: 1s;
}

.botao:hover{
    background-color: #005594;
    color: white;
}

.botao {
    background-color: #efeeee;
    border-radius: 5px;
}

a{
    display: block;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #005594;
}

.card{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
    box-shadow: 2px 2px 2px black;
}

.card:hover{
    width: 95%;
    height: 105%;
}

