.painel{
    width: 500px;
    margin: 20px auto;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.653);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 100;
}

.login{
    text-align: center;
    color: dodgerblue;
}

.usuario{
    font-size: 100px;
    padding-left: 180px;
    color: white;
}

.fundo{
    background-color: #1e90ff;
}

.menu{
    background-color: #004c94;
    min-width: 250px;
    color: white;
    height: 100vh;
    list-style: none;
}

@media (max-width: 768px){
    .menu{
        display: none;
    }
}

.item{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: 10px;
}

.item:hover{
    background-color: white;
    transition: 1s;
    text-decoration: none;
    box-shadow: 1px 1px 10px black;
}

ul{
    list-style: none;
}